body {
  font-family: Arial;
  background: #f4f6f9;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.menu a {
  padding: 15px;
  background: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
}

table {
  width: 80%;
  margin: auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}